@font-face {
    font-family: 'Yarin';
    src: local('Yarin'), local('Yarin-Regular'), url('Yarin.woff2') format('woff2'), url('Yarin.woff') format('woff'), url('Yarin.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Yarin';
    src: local('Yarin Bold'), local('Yarin-Bold'), url('Yarinbold.woff2') format('woff2'), url('Yarinbold.woff') format('woff'), url('Yarinbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
